{
  "concurrency": {
    "cancel-in-progress": true,
    "group": "${{ github.workflow }}-${{ github.ref_name }}"
  },
  "jobs": {
    "publish-website": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v4"
        },
        {
          "uses": "nixbuild/nix-quick-install-action@master",
          "with": {
            "nix_conf": "keep-env-derivations = true\nkeep-outputs = true\n"
          }
        },
        {
          "uses": "nix-community/cache-nix-action@main",
          "with": {
            "primary-key": "a-single-key"
          }
        },
        {
          "run": "nix build -vv --print-build-logs --accept-flake-config .#website"
        },
        {
          "uses": "actions/upload-pages-artifact@v4",
          "with": {
            "path": "result"
          }
        },
        {
          "if": "github.ref == 'refs/heads/${{ github.event.repository.default_branch }}'",
          "uses": "actions/deploy-pages@v4"
        }
      ]
    }
  },
  "on": {
    "pull_request": {},
    "push": {
      "branches": [
        "master"
      ]
    }
  },
  "permissions": {
    "contents": "read",
    "id-token": "write",
    "pages": "write"
  }
}
